@import "tailwindcss";
@import '../../vendor/livewire/flux/dist/flux.css';
@import 'mapbox-gl/dist/mapbox-gl.css';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@custom-variant dark (&:where(.dark, .dark *));
@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@theme {
    --font-sans: 'URWDIN', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
a.mobile{
    @apply h-14!;
}
button.mobile{
    @apply h-14!;
}
div.mobile input{
    @apply py-3! h-14!;
}
ui-modal dialog{
    @apply bg-zinc-400! dark:bg-zinc-800! shadow-2xl dark:border-t-zinc-100/20! dark:border-t-6
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: left;
    font-family: 'URWDIN', sans-serif;
    @apply rounded-2xl;

}
.mapboxgl-popup-content img{
    @apply rounded-2xl;
}
.mapboxgl-popup-close-button{
    top: 12px;
    right: 8px;
}
.mapboxgl-popup-close-button span{
    font-size: 2rem;
}
.mapboxgl-ctrl-group button{
    width: 40px;
    height: 40px;
}
