@import "tailwindcss";
@import '../../vendor/livewire/flux/dist/flux.css';
@import 'mapbox-gl/dist/mapbox-gl.css';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@custom-variant dark (&:where(.dark, .dark *));
@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutToBottom {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100vh);
    }
}

@theme {
    --font-sans: 'URWDIN', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;
    --color-error: #e53e3e;

    --color-accent: #F26E36;
    --color-accent-content: var(--color-zinc-300);
    --color-accent-foreground: #FCE4DB;

    --color-status-submitted: var(--color-amber-100);
    --color-status-validated: var(--color-green-600);
    --color-status-done: var(--color-lime-400);
    --color-status-cancelled: var(--color-gray-400);

    --color-reverse-submitted: var(--color-neutral-800);
    --color-reverse-validated: var(--color-white);
    --color-reverse-done: var(--color-white);
    --color-reverse-cancelled: var(--color-white);

    --color-status-new: var(--color-amber-200);
    --color-status-updated: var(--color-green-500);
    --color-status-added: var(--color-amber-400);
    --color-status-draft: var(--color-gray-300);
    --color-status-urgent: var(--color-red-500);
    --color-status-scheduled: var(--color-emerald-500);
    --color-status-ongoing: var(--color-blue-500);
    --color-status-suspended: var(--color-indigo-500);
    --color-status-archived: var(--color-gray-600);

    --text-xxs: 0.625rem;
    --text-md: 1rem;

}

@layer theme {
    .dark {
        --color-accent: #F26E36;
        --color-accent-content: var(--color-zinc-900);
        --color-accent-foreground: var(--color-zinc-100);
    }
}
@source inline('h-[90vh],h-[100vh],h-full,h-[100%],bg-status-{submitted,validated,done,cancelled,new,updated,added,draft,urgent,scheduled,ongoing,suspended,archived},text-reverse-{submitted,validated,done,cancelled}, backtopo');

ui-otp {
    @apply gap-8! min-w-fit!
}
ui-otp div.grow-0, ui-otp div.grow-0 input{
    @apply w-14! h-14!
 }
ui-otp div.grow-0 input{
    @apply border-zinc-900/60! dark:border-b-zinc-400/80!
}
a.mobile{
    @apply h-14!;
}
button.mobile{
    @apply h-14!;
}
div.mobile input{
    @apply py-3! h-14!;
}
ui-modal dialog{
    @apply bg-zinc-400! dark:bg-zinc-800! shadow-2xl dark:border-t-zinc-100/20! dark:border-t-6
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: left;
    font-family: 'URWDIN', sans-serif;
    @apply rounded-2xl;

}
.mapboxgl-popup-content img{
    @apply rounded-2xl;
}
.mapboxgl-popup-close-button{
    top: 12px;
    right: 8px;
}
.mapboxgl-popup-close-button span{
    font-size: 2rem;
}
.mapboxgl-ctrl-group button{
    width: 40px;
    height: 40px;
}
div.hidegeolocatebutton .mapboxgl-ctrl-geolocate{
    display: none !important;
}
.carousel-nav-button{
    @apply h-14 w-14 bg-accent! text-accent-foreground opacity-60!
}
.carousel-nav-button svg{
    @apply h-10! w-10!
}
